.Button {
  width: 108px;
  height: 44px;
  border: 1px solid #C2C8CB;
  border-radius: 26px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  //top:126px;
  //left: 735px;
  //margin-left: 310px;

  &_details {
    //top:0;
    //left:0;
    width: 66px;
    height: 18px;
    color: #E6101A;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1.5px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    margin: 15px 44px 14px 21px;
    //margin: 14px 44px 21px 14px;
  }
  &__icon {
    width: 17.82px !important;
    height: 17.82px !important;
    position: absolute;
    margin: 13.5px 21.2px 12.7px 69px;
  }

}