.ChampionInformation {
  margin: 101px 108px 0 78px;
  //position: absolute;
  position: relative;
  display: flex;
  height: 214px;
  background-color: #FBFBFC;
  //opacity: 75%;
  border-radius: 26px;
  flex-direction: column;

  &__year {
    font-size: 14px;
    font-weight: bold;
    margin: 35px 0 0 31px;
  }
  &__champion{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 31px;
    color:#E6101A;
  }
  &__table {
    border-collapse: collapse;
    margin: 22px 139px 200px 31px;
  }
  th{
    border-bottom: 1px solid #C2C8CB;
    font-size:10px;
    font-weight: bold;
    color:#89959B;
    letter-spacing: 1.5px;
  }
  th,td {
    padding: 14px 0 14px 0 ;
  }
  td{
    color: #000000;
    font-size: 12px;
    font-weight: bold;
  }
  td:nth-child(3){
    font-weight: 400;
  }
  td:nth-child(4) {
    letter-spacing: 1.8px;
  }
  &__button {
    position: absolute !important;
    top:125px;
    right: 31px;
  }

}