@import url(//db.onlinewebfonts.com/c/6a9c6944fe8451dd397fe9d0763a4c88?family=OCR+A+Std);

.Footer {
  margin: 0 0 0 307px;
  position: relative;
  display: flex;
  height: 159px;
  background-image: linear-gradient(rgba(0,0,0,0) 35%, #000000 230%);
  background-color: #EDF0F2;
  &__logo {
    width: 58.5px;
    height: 14.62px;
    margin: 96px  0 0 109px;
  }
  &__logokutia{
    margin: 95.8px 0 0 585.5px;
  }
  &__kutia {

    margin: 101px 0 0 26px ;
    font-family: "OCR A Std";
    font-size: 10px;
  }

}
