@import url(//db.onlinewebfonts.com/c/6a9c6944fe8451dd397fe9d0763a4c88?family=OCR+A+Std);

.Footer {
  margin-left: 307px;
  width:  calc(100vw - 307px);
  height: 159px;
  background-image: linear-gradient(rgba(0,0,0,0) 35%, #000000 230%);
  display: flex;
  //&__elements {
  //  //position: relative;
  //  //display: flex;
  //  height:100%;
  //  background-image: linear-gradient(rgba(0,0,0,0) 25%, #000000 230%);
  //}
  &__logo {
    width: 58.5px;
    height: 14.62px;
    margin-top: 96px;
    margin-left: 109px;
  }
  &__logokutia{
    width: 20px;
    height: 22px;
    margin-top: 96px;
    margin-left: 585px;
  }
  &__kutia {
  //  margin: 101px 0 0 26px ;
    font-family: "OCR A Std";
    font-size: 10px;
    margin-top: 99px;
    margin-left: 26px;
  }

}
