@import url(//db.onlinewebfonts.com/c/6a9c6944fe8451dd397fe9d0763a4c88?family=OCR+A+Std);

.Footer {
  //margin-left: 307px;
  width:  calc(100vw - 307px);
  min-height: 130px;
  height: 130px;
  background-image: linear-gradient(rgba(0,0,0,0) 35%, #000000 230%);
  display: flex;
  align-items: center;
  background-color: #EDF0F2;
  //position: static;
  justify-content: space-between;
  //&__elements {
  //  //position: relative;
  //  //display: flex;
  //  height:100%;
  //  background-image: linear-gradient(rgba(0,0,0,0) 25%, #000000 230%);
  //}
  &__signature {
    display: flex;
    flex-direction: row;
    //margin-left: 585px;
    margin-top: 16px;
    margin-right: 171px;
  }
  &__logo {
    width: 58.5px;
    height: 14.62px;
    margin-top: 16px;
    margin-left: 109px;
  }
  &_logokutia{
    width: 20px;
    height: 22px;
    //margin-top: 16px;

  }
  &_kutia {
  //  margin: 101px 0 0 26px ;
    margin-top: 3px;
    font-family: "OCR A Std";
    font-size: 10px;
    //margin-top: 99px;
    margin-left: 26px;
    margin-bottom: 0;
  }

}
@media only screen and (max-width: 900px) {
  .Footer {
    //margin-left: 307px;
    width:  100%;
    height: 149px;
    background-image: linear-gradient(rgba(0,0,0,0) 35%, #000000 230%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    //&__elements {
    //  //position: relative;
    //  //display: flex;
    //  height:100%;
    //  background-image: linear-gradient(rgba(0,0,0,0) 25%, #000000 230%);
    //}
    &__signature {
      display: flex;
      right:0;
      flex-direction: row;
      //margin-left: 585px;
      //margin-top: 16px;
      //margin-right: 171px;
    }
    &__logo {
      min-width: 40.5px;
      min-height: 10.62px;
      //margin-top: 16px;
      margin-left: 109px;
      margin-right: 80px;
    }
    &_logokutia{
      width: 20px;
      height: 22px;
      //margin-top: 16px;

    }
    &_kutia {
      //  margin: 101px 0 0 26px ;
      margin-top: 3px;
      font-family: "OCR A Std";
      font-size: 10px;
      //margin-top: 99px;
      margin-left: 26px;
      margin-bottom: 0;
    }

  }
}
