//====================== IMPORTANT NOTE: Do not change import order! =====================//

// Reset styling.
@import "reset";

//Include lib. Override bootstrap and declare other variables.
@import "lib";

//Include bootstrap.
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "bootstrap/bootstrap";

//Import other styles.
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}