.App {
  width: 100%;
  margin: 0;
  display: flex;
  //height: 100vh;
  background-color: #EDF0F2;
  position: relative;

  &__content{
    width: calc(100vw - 307px);
    margin-left: 307px;
    display: flex;
    height: 100vh;
    flex-direction: column;

    justify-content: space-between;
    //flex: 1 1 auto;
  }
}
