
.App {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;

  position: relative;
  //justify-content: center;
  &__content{
    background-color: #EDF0F2;
    display: flex;
    flex-direction: column;
  }
}
