.App {
  width: 100%;
  margin: 0;
  display: flex;
  height: 100%;
  background-color: #EDF0F2;
  position: relative;
  //justify-content: center;
  &__content{
    width: calc(100vw - 307px);
    margin-left: 307px;
    flex-direction: column;
  }
}
